@using obras_1213.Models
@model IEnumerable<Car>

@{
    ViewBag.Title = "Viaturas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Viaturas</h2>

<div class="well"><table class="table">
<tr><th>Matrícula</th><th>Marca</th><th>Modelo</th><th>Proprietário</th></tr>
@foreach(Car c in Model) {
    <tr><td>@c.License</td><td>@c.Brand</td><td>@c.Model</td><td>@c.OwnerName</td></tr>
}
</table></div>
